body {
  background:#F5DFCB;
}
body.menu {
  flex-direction: column;
  justify-content: center;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;

}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500%;
  border: 2px solid rgb(194, 147, 238);
  margin: 20px;
}

#checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


// bootstrap homepage layout css.

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

.carousel-inner {
  position: relative;
  width: 100%;
  top: 0;
  margin-top: -65px;
  overflow: hidden;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 7rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.col-md-5 .img-fluid {
  height: 102%;
}

.row {
  justify-content: center;
  margin-top: 50px ;

}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 2rem;
  text-align: center;
}
.row .col-lg-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;

}

svg.bd-placeholder-img.rounded-circle {
  margin-bottom: 2em;
}

.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.carousel-caption {
  background: rgba(179,179,179,0.4);
  border-radius: 25px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


